@charset "UTF-8";
.bgi {
	background-color: #EEEEEE;
}
.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.box {
	border: 0;
	width: 900px;
	font-weight: bold;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	background-color: #FCFCFC;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
.mg-top-50 {
	margin-top: 50px;
}
.subTitle {
	width: 900px;
	margin-bottom: 10px;
	margin-left: 15px;
	display: flex;
	justify-content: left;
	align-items: center;
	border-radius: 5px;
	/* background-color: #78171C; */
	color: #78171C;
	height: 30px;
}
.title-hr {
	height: 2px;
	background-color: #78171C;
}
.mg-left {
	margin-top: 15px;
	margin-left: 10px;
}
.text-gray {
	font-weight: normal;
	color: gray;
	font-size: 14px;
}
#discount {
	width: 100%;
	height: 25px;
	text-align: center;
}
.price {
	text-align: right;
	padding-right: 10px;
}
.tableTitle {
	padding-left: 10px;
	text-align: left;
	width: 160px;
}
.button {
	width: 40%;
	height: 50px;
	border-radius: 5px;
	font-weight: bold;
	font-size: 18px;
	border: 0;
	color: white;
	background-color: #BBBBBB;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
.btn-pay {
	 background-color: #CDAA39;
	 width: 60%
}
.btn-pay:hover {
	width:100%;
	height:52px;
}
.creditCardBox {
	border: 1px solid black;
	border-radius: 5px;
	height: 200px;
	margin: 10px 10px;
	padding: 20px;
	background-color: #DEDEDE;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	justify-content: left;
	align-items: center;
}
.creditCard {
	border: 1px solid black;
	border-radius: 10px;
	width: 240px;
	height: 160px;
	background-color: #EFEEED;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
	justify-content: center; /* 수평 중앙 정렬 */
	align-items: center;
	display:flex;
	flex-shrink: 0;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	color: black;
}
#radioCard, #radioRemit {
	display: none;
}
.bookInfo-title {
	font-weight: bold;
	font-size: 26px;
	width: 900px;
	margin: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
}
.infoTitle {
	/* align-content: flex-start; */
	line-height: 2.1;
	width: 120px;
	color: #78171C;
}
.infoContent {
	line-height: 2.1;
}
.bt900 {
	width: 900px; 
	height: 45px; 
	border-radius: 5px; 
	border: 0;
	background-color: #CDAA39;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;
	color: white;
	margin: 20px 0px 80px;
}






